$main-color: rgb(250, 251, 253);
$title-color: #02071f;
$hover-color: #eb2c2c;
$text-color: #000000bb;
$title-color-two: rgb(235, 173, 90);
$text-color-two: rgba(250, 251, 253, .6);
$title-color-light: rgba(20, 20, 20, 0.315);